html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "DM Sans", sans-serif;
  vertical-align: baseline;
  font-weight: 400; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.container {
  max-width: 1600px;
  margin: 0 auto; }
  @media screen and (max-width: 1023px) {
    .container {
      max-width: 600px;
      margin: 0 auto; } }

.containerPhotograph {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 65px; }
  @media screen and (max-width: 1023px) {
    .containerPhotograph {
      max-width: 600px;
      margin: 0 auto;
      padding: 0 10px; } }

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 45px; }
  header a {
    display: flex;
    justify-self: flex-start;
    align-self: flex-start; }
  header h1 {
    font-size: 3.6rem;
    line-height: 4.6rem; }
  @media screen and (max-width: 1023px) {
    header {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-direction: column;
      position: relative;
      padding: 25px 1rem; }
      header svg {
        width: 150px; }
      header h1 {
        font-size: 1.4rem;
        line-height: 1.8rem;
        position: absolute;
        top: 3.5rem;
        right: 1rem; } }

.headerSimple {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 45px; }
  @media screen and (max-width: 1023px) {
    .headerSimple {
      padding: 2rem; } }

nav {
  padding: 0 1rem; }
  nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
    nav ul li {
      font-size: 1.2rem;
      line-height: 1.55rem;
      font-weight: 500;
      border: 1px solid #c4c4c4;
      padding: 0 5px;
      margin: 0 2px;
      border-radius: 10px; }
  @media screen and (max-width: 1023px) {
    nav {
      max-width: 400px;
      margin: 0 auto; }
      nav ul {
        margin: 2rem 0; }
        nav ul li {
          margin: 0.2rem; } }

.photograph-bandeau {
  display: flex;
  justify-content: space-between;
  padding: 4rem 2rem;
  background: #fafafa; }
  .photograph-bandeau-left_inner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px; }
    .photograph-bandeau-left_inner div {
      font-size: 20px;
      color: white;
      padding: 15px;
      background: #911c1c;
      border-radius: 5px;
      margin-left: 100px; }
      .photograph-bandeau-left_inner div h3 {
        cursor: pointer; }
  .photograph-bandeau-left h2 {
    font-size: 64px;
    color: #d3573c; }
  .photograph-bandeau-left strong {
    font-size: 24px;
    color: #901c1c;
    margin-bottom: 10px; }
  .photograph-bandeau-left p {
    font-size: 18px;
    font-weight: 400;
    color: #757575;
    margin: 10px 0; }
  .photograph-bandeau-left span {
    font-size: 9px;
    font-weight: 12px;
    color: #757575;
    margin-bottom: 10px; }
  .photograph-bandeau-left ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start; }
    .photograph-bandeau-left ul li {
      width: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.2rem;
      line-height: 1.55rem;
      font-weight: 500;
      border: 1px solid #c4c4c4;
      padding: 0 5px;
      margin: 0 2px;
      border-radius: 10px; }
  .photograph-bandeau-right img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover; }
  @media screen and (max-width: 1023px) {
    .photograph-bandeau-left_inner div {
      font-size: 18px;
      position: fixed;
      left: 50%;
      bottom: 3rem;
      transform: translate(-50%);
      margin-left: 0; }
    .photograph-bandeau-left h2 {
      font-size: 36px; }
    .photograph-bandeau-left strong {
      font-size: 13px; }
    .photograph-bandeau-left p {
      font-size: 13px; }
    .photograph-bandeau-left span {
      font-size: 9px; }
    .photograph-bandeau-right img {
      width: 100px;
      height: 100px; } }

.photograph-card {
  display: flex;
  justify-content: space-between;
  align-self: center;
  max-width: 380px;
  font-size: 2.4rem;
  font-weight: 500;
  background: #db8876;
  border-radius: 5px;
  padding: 2rem;
  position: fixed;
  bottom: -10px;
  right: 20px; }
  .photograph-card p {
    margin-right: 40px; }
    .photograph-card p:last-child {
      margin: 0; }
  @media screen and (max-width: 1023px) {
    .photograph-card {
      display: none; } }

.photograph-grid {
  display: flex;
  flex-direction: column; }
  .photograph-grid-tri {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 3rem;
    position: relative;
    font-size: 18px;
    font-weight: 700;
    color: black; }
    .photograph-grid-tri p {
      margin-top: 2rem; }
    .photograph-grid-tri_button {
      display: none;
      justify-content: center;
      align-items: flex-start;
      margin-left: 2rem;
      background-color: #901c1c;
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      font-weight: 400;
      font-size: 18px;
      color: white; }
      .photograph-grid-tri_button_list p {
        border-bottom: 2px solid white;
        margin-top: 0;
        cursor: pointer;
        line-height: 4rem; }
        .photograph-grid-tri_button_list p:last-child {
          border-bottom: none; }
      .photograph-grid-tri_button span {
        margin-left: 2rem;
        position: relative; }
        .photograph-grid-tri_button span::after {
          content: "";
          position: absolute;
          display: block;
          width: 6px;
          height: 6px;
          right: 0px;
          top: 15px;
          display: block;
          border-top: 2px solid white;
          border-left: 2px solid white;
          transform: rotate(-135deg); }
    .photograph-grid-tri_buttonFirst {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 2rem;
      background-color: #901c1c;
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      font-weight: 400;
      font-size: 18px;
      color: white; }
      .photograph-grid-tri_buttonFirst_notListed p {
        border-bottom: 2px solid white;
        margin-top: 0;
        cursor: pointer;
        line-height: 4rem; }
        .photograph-grid-tri_buttonFirst_notListed p:last-child {
          border-bottom: none; }
      .photograph-grid-tri_buttonFirst span {
        margin-left: 2rem;
        position: relative; }
        .photograph-grid-tri_buttonFirst span::after {
          content: "";
          position: absolute;
          display: block;
          width: 6px;
          height: 6px;
          right: 0px;
          top: -5px;
          display: block;
          border-top: 2px solid white;
          border-left: 2px solid white;
          transform: rotate(-135deg); }
  .photograph-grid-media {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
    .photograph-grid-media-containerMedia {
      display: flex;
      flex-direction: column;
      width: 350px;
      padding: 1.5rem; }
      .photograph-grid-media-containerMedia_play {
        position: absolute;
        width: 50px;
        height: 50px;
        cursor: pointer;
        z-index: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: url("/media/logo/play.svg"); }
      .photograph-grid-media-containerMedia img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        cursor: pointer; }
      .photograph-grid-media-containerMedia video {
        width: 100%;
        height: 300px;
        object-fit: cover; }
      .photograph-grid-media-containerMedia_bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 1rem 0; }
        .photograph-grid-media-containerMedia_bottom p,
        .photograph-grid-media-containerMedia_bottom span {
          color: #901c1c;
          font-size: 24px; }

.modal {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  /* 0.5 - semi-transparent */
  z-index: 2;
  justify-content: center;
  align-items: center; }
  .modal-container {
    max-width: 670px;
    background: #db8876;
    border-radius: 5px;
    padding: 5rem; }
    .modal-container_title {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative; }
      .modal-container_title h4 {
        font-size: 64px; }
      .modal-container_title span {
        position: absolute;
        right: 0;
        margin-left: 30px;
        width: 42px;
        height: 42px;
        display: block;
        background: url("/media/logo/crossCloseWhite.svg") no-repeat; }
    .modal-container_inputs {
      margin-top: 20px;
      display: flex;
      flex-direction: column; }
      .modal-container_inputs p {
        font-size: 36px;
        color: #312e2e;
        font-weight: 400;
        padding: 15px 0; }
      .modal-container_inputs input {
        height: 50px; }
      .modal-container_inputs input[type="text"] {
        font-size: 36px; }
      .modal-container_inputs textarea {
        height: 170px;
        font-size: 36px; }
      .modal-container_inputs button {
        margin-top: 20px;
        width: 170px;
        background: #901c1c;
        color: white;
        padding: 20px;
        font-size: 18px;
        font-weight: 700;
        border-radius: 5px; }

.lightboxModal {
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 3; }
  .lightboxModal img {
    width: 75%;
    height: auto;
    object-fit: cover; }
  .lightboxModal_left {
    position: absolute;
    top: 50%;
    left: 5%;
    background: url("/media/logo/leftArrow.svg") no-repeat;
    width: 50px;
    height: 50px;
    cursor: pointer; }
  .lightboxModal_right {
    position: absolute;
    top: 50%;
    right: 5%;
    background: url("/media/logo/rightArrow.svg") no-repeat;
    width: 50px;
    height: 50px;
    cursor: pointer; }
  .lightboxModal_cross {
    position: absolute;
    top: 5%;
    right: 5%;
    background: url("/media/logo/crossLightbox.svg") no-repeat;
    width: 50px;
    height: 50px;
    cursor: pointer; }

html {
  font-size: 10px; }

body {
  font-family: "DM Sans", sans-serif; }

main ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }
  main ul li {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px; }
    main ul li a {
      display: flex;
      flex-direction: column;
      justify-self: center;
      align-items: center;
      text-decoration: none; }
      main ul li a img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: 20px; }
      main ul li a h2 {
        font-size: 36px;
        line-height: 47px;
        color: #d3573c;
        margin-bottom: 10px; }
    main ul li div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      main ul li div strong {
        font-size: 13px;
        font-weight: 17px;
        color: #901c1c;
        margin-bottom: 5px; }
      main ul li div p {
        font-size: 10px;
        font-weight: 13px;
        color: black;
        margin-bottom: 5px; }
      main ul li div span {
        font-size: 9px;
        font-weight: 12px;
        color: #757575;
        margin-bottom: 10px; }
      main ul li div ul {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center; }
        main ul li div ul li {
          width: auto;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 1.2rem;
          line-height: 1.55rem;
          font-weight: 500;
          border: 1px solid #c4c4c4;
          padding: 0 5px;
          margin: 0 2px;
          border-radius: 10px; }
  @media screen and (max-width: 1023px) {
    main ul {
      display: flex;
      justify-content: center;
      align-items: center; } }
