html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.container {
  max-width: 1600px;
  margin: 0 auto; }
  @media screen and (max-width: 1023px) {
    .container {
      max-width: 600px;
      margin: 0 auto; } }

.containerPhotograph {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 65px; }
  @media screen and (max-width: 1023px) {
    .containerPhotograph {
      max-width: 600px;
      margin: 0 auto;
      padding: 0 10px; } }

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 45px; }
  header a {
    display: flex;
    justify-self: flex-start;
    align-self: flex-start; }
  header h1 {
    font-size: 3.6rem;
    line-height: 4.6rem; }
  @media screen and (max-width: 1023px) {
    header {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-direction: column;
      position: relative;
      padding: 25px 1rem; }
      header svg {
        width: 150px; }
      header h1 {
        font-size: 1.4rem;
        line-height: 1.8rem;
        position: absolute;
        top: 3.5rem;
        right: 1rem; } }

.headerSimple {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 45px; }
  @media screen and (max-width: 1023px) {
    .headerSimple {
      padding: 30px 10px; } }

nav {
  padding: 0 1rem; }
  nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
    nav ul li {
      font-size: 1.2rem;
      line-height: 1.55rem;
      font-weight: 500;
      border: 1px solid #c4c4c4;
      padding: 0 5px;
      margin: 0 2px;
      border-radius: 10px; }
  @media screen and (max-width: 1023px) {
    nav {
      max-width: 400px;
      margin: 0 auto; }
      nav ul {
        margin: 2rem 0; }
        nav ul li {
          margin: 0.2rem; } }

.photograph-bandeau {
  display: flex;
  justify-content: space-between;
  padding: 4rem 2rem;
  border: 1px solid black;
  background: #fafafa; }
  .photograph-bandeau-left_inner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px; }
    .photograph-bandeau-left_inner div {
      font-size: 20px;
      color: white;
      padding: 15px;
      background: #911c1c;
      border-radius: 5px;
      margin-left: 100px; }
  .photograph-bandeau-left h2 {
    font-size: 64px;
    color: #d3573c; }
  .photograph-bandeau-left strong {
    font-size: 24px;
    color: #901c1c;
    margin-bottom: 10px; }
  .photograph-bandeau-left p {
    font-size: 18px;
    font-weight: 400;
    color: #757575;
    margin: 10px 0; }
  .photograph-bandeau-left span {
    font-size: 9px;
    font-weight: 12px;
    color: #757575;
    margin-bottom: 10px; }
  .photograph-bandeau-left ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start; }
    .photograph-bandeau-left ul li {
      width: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.2rem;
      line-height: 1.55rem;
      font-weight: 500;
      border: 1px solid #c4c4c4;
      padding: 0 5px;
      margin: 0 2px;
      border-radius: 10px; }
  .photograph-bandeau-right img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover; }

.photograph-card {
  display: flex;
  justify-content: space-between;
  align-self: center;
  max-width: 380px;
  font-size: 2.4rem;
  font-weight: 500;
  background: #db8876;
  border-radius: 5px;
  padding: 2rem;
  position: fixed;
  bottom: -10px;
  right: 20px; }
  .photograph-card p {
    margin-right: 40px; }
    .photograph-card p:last-child {
      margin: 0; }

html {
  font-size: 10px; }

body {
  font-family: "DM Sans", Arial, Helvetica, sans-serif; }

main ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }
  main ul li {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px; }
    main ul li a {
      display: flex;
      flex-direction: column;
      justify-self: center;
      align-items: center;
      text-decoration: none; }
      main ul li a img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: 20px; }
      main ul li a h2 {
        font-size: 36px;
        line-height: 47px;
        color: #d3573c;
        margin-bottom: 10px; }
    main ul li div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      main ul li div strong {
        font-size: 13px;
        font-weight: 17px;
        color: #901c1c;
        margin-bottom: 5px; }
      main ul li div p {
        font-size: 10px;
        font-weight: 13px;
        color: black;
        margin-bottom: 5px; }
      main ul li div span {
        font-size: 9px;
        font-weight: 12px;
        color: #757575;
        margin-bottom: 10px; }
      main ul li div ul {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center; }
        main ul li div ul li {
          width: auto;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 1.2rem;
          line-height: 1.55rem;
          font-weight: 500;
          border: 1px solid #c4c4c4;
          padding: 0 5px;
          margin: 0 2px;
          border-radius: 10px; }
  @media screen and (max-width: 1023px) {
    main ul {
      display: flex;
      justify-content: center;
      align-items: center; } }
