header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 0;

  h1 {
    font-size: 3.6rem;
    line-height: 4.6rem;
  }
}
nav {
  ul {
    display: flex;
    flex-direction: row;

    li {
      font-size: 1.2rem;
      line-height: 1.55rem;
      font-weight: 500;
      border: 1px solid rgb(196, 196, 196);
      padding: 0 5px;
      margin: 0 2px;
      border-radius: 10px;
    }
  }
}
