.modal {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;

  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5); /* 0.5 - semi-transparent */
  z-index: 2;

  justify-content: center;
  align-items: center;
  &-container {
    max-width: 670px;
    background: #db8876;
    border-radius: 5px;
    padding: 3rem;
    &_title {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      position: relative;
      h4 {
        font-size: 54px;
      }
      span {
        display: block;
        margin-left: 30px;
        width: 55px;
        height: 55px;
        background: url("/media/logo/crossCloseWhite.svg") no-repeat;
      }
    }
    &_inputs {
      margin-top: 20px;
      display: flex;
      flex-direction: column;

      p {
        font-size: 24px;
        color: #312e2e;
        font-weight: 400;
        padding: 10px 0;
      }
      input {
        height: 40px;
      }
      input[type="text"] {
        font-size: 36px;
      }
      textarea {
        height: 170px;
        font-size: 36px;
      }
      button {
        margin-top: 20px;
        width: 170px;
        background: #901c1c;
        color: white;
        padding: 20px;
        font-size: 18px;
        font-weight: 700;
        border-radius: 5px;
      }
    }
  }
}

.lightboxModal {
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 3;
  img {
    width: 70%;
    max-height: 70%;
    height: auto;
    object-fit: cover;
  }
  p {
    padding: 1rem;
    justify-self: flex-start;
    color: #901c1c;
    font-size: 24px;
  }
  video {
    width: 70%;
    height: auto;
    object-fit: cover;
  }
  &_left {
    position: absolute;
    top: 50%;
    left: 5%;
    background: url("/media/logo/leftArrow.svg") no-repeat;
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 1;
  }
  &_right {
    position: absolute;
    top: 50%;
    right: 5%;
    background: url("/media/logo/rightArrow.svg") no-repeat;
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 1;
  }
  &_cross {
    position: absolute;
    top: 5%;
    right: 5%;
    background: url("/media/logo/crossLightbox.svg") no-repeat;
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 1;
  }
}
