.modal {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;

  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5); /* 0.5 - semi-transparent */
  z-index: 2;

  justify-content: center;
  align-items: center;
  &-container {
    max-width: 670px;
    background: #db8876;
    border-radius: 5px;
    padding: 5rem;
    &_title {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      h4 {
        font-size: 64px;
      }
      span {
        position: absolute;
        right: 0;
        margin-left: 30px;
        width: 42px;
        height: 42px;
        display: block;
        background: url("/media/logo/crossCloseWhite.svg") no-repeat;
      }
    }
    &_inputs {
      margin-top: 20px;
      display: flex;
      flex-direction: column;

      p {
        font-size: 36px;
        color: #312e2e;
        font-weight: 400;
        padding: 15px 0;
      }
      input {
        height: 50px;
      }
      input[type="text"] {
        font-size: 36px;
      }
      textarea {
        height: 170px;
        font-size: 36px;
      }
      button {
        margin-top: 20px;
        width: 170px;
        background: #901c1c;
        color: white;
        padding: 20px;
        font-size: 18px;
        font-weight: 700;
        border-radius: 5px;
      }
    }
  }
}

.lightboxModal {
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 3;
  img {
    width: 75%;
    height: auto;
    object-fit: cover;
  }
  &_left {
    position: absolute;
    top: 50%;
    left: 5%;
    background: url("/media/logo/leftArrow.svg") no-repeat;
    width: 50px;
    height: 50px;
    cursor: pointer;
  }
  &_right {
    position: absolute;
    top: 50%;
    right: 5%;
    background: url("/media/logo/rightArrow.svg") no-repeat;
    width: 50px;
    height: 50px;
    cursor: pointer;
  }
  &_cross {
    position: absolute;
    top: 5%;
    right: 5%;
    background: url("/media/logo/crossLightbox.svg") no-repeat;
    width: 50px;
    height: 50px;
    cursor: pointer;
  }
}
