@import "./base/_vars";
@import "./base/_reset";
@import "./base/_colors";

// @import "abstracts/variables";
// @import "abstracts/functions";
@import "./abstracts/_mixins";
// @import "abstracts/placeholders";

// @import "vendors/bootstrap";
// @import "vendors/jquery-ui";

// @import "layout/navigation";
// @import "layout/grid";
@import "./layout/_header";
@import "./layout/_footer";
// @import "layout/sidebar";
// @import "layout/forms";

// @import "components/buttons";
// @import "components/carousel";
// @import "components/cover";
// @import "components/dropdown";

@import "./pages/_home";
// @import "pages/contact";
